html, body {
  height: 100%;
  min-width: 900px;
}

body {
  margin: 0;
  background-color: #E8F0FB;
  min-width: 900px;
}

.alertBox {
  position: fixed;
  bottom: 20px; right: 20px;
  background-color: #FFFFFF;
  padding: 20px; margin: 0;
  color: #FFFFFF;
  border-radius: 5px;
  overflow: auto;
  z-index: 998;
}

#spinner {
  position: fixed;
  top:0; bottom:0; left:0; right:0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 999;
}

  #spinner .parent-wrapper {
    width: 100%; height: 100%;
    display: table;
  }

  #spinner .child-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

nav {
  min-width: 900px;
  overflow: auto;
}

  nav #logo {
    background-color: #00ABBD;
    padding: 30px 30px;
    width: 200px;
    float: left;
  }

    nav #logo img {
      width: 100%;
    }

  nav #project-info {
    background-color: #FFFFFF;
    width: calc(100% - 200px);
    height: 89px;
    float: left;
  }

    nav #project-info ul {
      list-style: none;
      height: 100%;
      margin: 0;
      padding-left: 20px;
    }

      nav #project-info ul li {
        display: inline-block;
        height: 100%;
        padding: 35px 15px 0 15px;
        color: #394562;
        font-size: 16px;
        font-weight: 300;
      }

      nav #project-info ul li.title {
        font-weight: bold;
      }

      nav #project-info ul li.creator {
        color: #ABBBD4;
      }

      nav #project-info ul li.public {
        font-weight: bold;
        color: #3BBD70;
      }

      nav #project-info ul li.public:after {
        content: "공개됨"
      }

      nav #project-info ul li.private {
        font-weight: bold;
        color: #EC4566;
      }

      nav #project-info ul li.private:after {
        content: "비공개됨"
      }

      nav #project-info ul li.float-right {
        float: right;
        border: none;
        border-left: 1px solid #EBF0FB;
        cursor: pointer;
      }

      nav #project-info ul li.float-right:hover {
        background-color: #DFE7F8;
      }

aside {
  background-color: #323B4F;
  width: 200px;
  height: calc(100% - 89px);
  z-index: -1;
}

  aside ul {
    list-style: none;
    padding: 0;
  }

    aside ul li {
      padding: 15px 5px;
      border-bottom: 1px solid #3A455B;
      color: #97A6C0;
      font-size: 15px;
      font-weight: 100;
      cursor: pointer;
    }

    aside ul li:hover {
      background-color: #283041;
      color: #FFFFFF;
    }

      aside ul li i {
        display: inline-block;
        text-align: center;
        width: 30px;
      }

#subAside {
  position: absolute;
  top:89px; left: 200px;
  background-color: #FFFFFF;
  width: 200px;
  height: calc(100% - 89px);
  display: none;
}

section#oven {
  position: absolute;
  top: 89px; left: 200px;
  width: calc((100% - 200px) / 2);
  height: calc((100% - 89px) / 2);
  background-color:gray;
}

section#preview {
  position: absolute;
  top: 89px; left: calc(200px + ((100% - 200px) / 2));
  width: calc((100% - 200px) / 2);
  height: calc((100% - 89px) / 2);
  background-color:red;
}

section#code {
  position: absolute;
  top: calc(89px + ((100% - 89px) / 2)); left: 200px;
  width: calc((100% - 200px));
  height: calc((100% - 89px) / 2);
  background-color:blue;
}
