<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/icon.min.css">
    <link rel="stylesheet" href="/css/custom.semantic.css">
    <link rel="stylesheet" href="/css/common.css">

    <script src="/js/semantic.min.js"> </script>
    <script src="/js/common.js"> </script>

    <title>Eduino::웹으로 아두이노를 프로토타이핑하세요!</title>
  </head>
  <body>

      <div class="">
        <h1>에듀이노 임시 페이지 <br> 자꾸 돌아가는게 짜증나서 임시로 만듬</h1> <br>
      </div>
      <%=session.email %>
        <% if(session.email){ %>
          <div class="ui button" onclick="location.href='/user/';">
            mypage
          </div>
        <%} else{%>
          <div class="ui button" onclick="location.href='/user/signin';">
            Sign in
          </div>
          <div class="ui button" onclick="location.href='/user/signup';">
            Sign up
          </div>
        <%}%>
        <div class="ui button">
          Featureadfs
        </div>

  </body>
</html>
