<!DOCTYPE HTML>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/icon.min.css">
    <link rel="stylesheet" href="/css/custom.semantic.css">
    <link rel="stylesheet" href="/css/common.css">

    <script src="/js/semantic.min.js"> </script>
    <script src="/js/common.js"> </script>

    <script type="text/javascript">

    </script>
  </head>

  <body>

    <section id="loginForm">
      <img id="logoImg" src="/img/KACTALE_Colored_Dongwoo.png">
        <p>
          <%=username%> 님 안녕하십니까
        </p>
        <form class="" action="/user/logout" method="get">
          <button id="btnLogin" type="submit" class="ui red button">
            Logout
          </button>
        </form>

    </section>

  </body>
</html>
