<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/FakeLoader.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/js/fakeLoader.min.js"></script>
  </head>

  <body>
  <div class="loader">
  </div>
    <header>
      <aside id="sidebar-wrapper">
        <nav class="navbar navbar-default">
          <div id="sidebar-nav" class="collapse navbar-collapse text-center">
            <a class="navbar-brand" href="#"><img src="/img/logo/eduino.png" height="20px"></a>
          </div>
        </nav>
        <div class="sidebar-content">
          <ul class="list-unstyled">
            <li><a href="#" class="actived"><i class="fa fa-list"></i> Projects</a></li>
            <li><a href="#"><i class="fa fa-line-chart"></i> Block Store</a></li>
            <li><a href="#"><i class="fa fa-comments-o"></i> 오류 신고 & 피드백</a></li>
          </ul>
        </div>
      </aside>
    </header>
    <div id="content-wrapper">
      <nav class="navbar navbar-default">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="btn btn-primary-outline" href="/users/signout">로그아웃</a></li>
          </ul>
        </div>
      </nav>
    <div class="content">
    <main>
      <nav>
        <ul>
          <li class="activated"> 전체 </li>
          <li> 아두이노 </li>
          <li> 자바스크립트 </li>
          <li> 파이썬 </li>
        </ul>
      </nav>

      <div class="project-container">
        <a href="/project/add">

          <div class="card create-project">

            <div class="text">
              <i class="fa fa-plus-square-o fa-4x" aria-hidden="true"></i>
              <h3> 프로젝트 추가하기 </h3>
            </div>

          </div>

        </a>
        <% for(var i in projectArray){ %>
        <a href="./workspace/<%=projectArray[i].projectname%>">
          <div class="project card">

            <div class="gradient"> </div>

            <div class="info">
              <h3> <%= projectArray[i].projectname%> </h3>

              <p> <%=projectArray[i].description%> </p>
            </div>

          </div>
        </a>
        <%}%>

      </div>

    </main>
  </div>
      </div>
  </body>
</html>
