<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>애플리케이션</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <link rel="stylesheet" href="/css/eduinoprojectlist.css">

</head>
<body background="/img/background.jpg">
<div class="header">
  <div class="container">
    <span style="width: 100%; background-color: rgba(254, 254, 254, 0.9); display:inline-block;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis; text-align: left;">
      <%= name %> 님 안녕하십니까
      <!-- 여기 뭘 줄까.. -->
    </span>
  </div>
</div>

<div class="wrapper">
  <div class="container">
	<br />
	<br />
	<br />
	<br />
    <div class="list_block button" style="background-color: #ddd;" onclick="location.href='/project/add';">
		<div style="text-align: center; padding-top: 70px; color: #999;">
			<i class="fa fa-plus-square-o fa-4x" aria-hidden="true"></i>
			<br />
			새로운 프로젝트 만들기
		</div>
	</div>
  <!-- for로 유저 프로젝트 갯수만큼 디비전 생성  -->
  <% for(var i in projectArray){ %>
    <!-- TODO 프로젝트 링크는 프로젝트 _id로 하려고 함. (project/:_id로 접근하면 그 접근권한 확인해서 렌더해줄건데, 여기에 링크 주소를 그렇게 저장해주어야함.) -->
    <!-- 근데 이거 버튼 누르면 어떤 스크립트가 돌아가는건지....; -->
    <a href="./test/<%= projectArray[i].projectname%>">
    <div class="list_block button">
  		<div class="list_block_detail">
  			<span class="list_block_title"><%= projectArray[i].projectname %></span>
  			<span class="list_block_content"><%= projectArray[i].description %></span>
  		</div>
  	</div>
    </a>
  <%}%>
    </div>
</div>

  <script src="/js/eduinoprojectlist.js"></script>
  <script src="https://use.fontawesome.com/19997febfc.js"></script>
</body>
</html>
