@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
  background-color: #F5F6F7;
  font-family: 'Roboto', sans-serif;
}

header {
  background-image:url('../img/signup_background.jpg');
  background-size:cover;
  background-attachment: fixed;
  margin-bottom:30px;
  padding:100px;
  text-align: center;
  color:white;
  font-size:15pt;
  font-weight: 100;
}

section {
  margin-bottom:30px !important;
}

#logoImg {
  width:300px;
  margin-bottom:20px;
}

#termsContainer {
  margin:0 auto;
  max-width: 500px;
}

#btnAgreeGroup {
  margin-top:10px;
}

#btnAgreeGroup button {
  width:50%;
  padding:17px;
  font-size:15pt;
  font-weight: 300;
  text-align: center;
}

#btnDisagree {
  background-color:white;
  color:black;
}

#loginForm {
  text-align: center;
}

#loginForm * {
  margin-bottom:5px;
  border-radius: 0px;
}

#loginForm form input {
  padding:15px;
  font-size:12pt;
}


#loginMent {
  text-align: left;
  font-size:11pt;
}

#btnLogin {
  width:100%;
  padding:20px;
  font-size:15pt;
  font-weight: 100;
}

#btnSignup {
  margin-top:10px;
  width:100%;
  padding:20px;
}

.validation-caution-text {
  margin-top:5px;
  color:#CC4739;
  font-size:10pt;
}

#join {
  text-align:right;
}

#join a {
  font-size:11pt;
  color:#999;
}

#join a:hover {
  color:#777;
}
