@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  outline: 0;
  box-sizing: border-box;
  font-family:'Spoqa Han Sans','Sans-serif'
}

html, body {
  margin: 0;
  height: 100%;
}

form {
  margin: 0;
}

  form legend {
    display: block;
    padding: 0 0 5px 15px;
    color: rgba(255, 255, 255, .5);
    font-size: 9pt;
    font-weight: 100;
  }

  form input {
    display: block;
    width: 100%;
    padding: 10px 15px; margin-bottom: 10px;
    background-color: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 100;
    font-size: 10pt;
    transition: all 0.2s;
  }

  form button {
    display: block;
    width: 100%;
    padding: 10px 15px; margin-bottom: 10px;
    background-color: #00ABA9;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 100;
    font-size: 10pt;
    transition: all 0.1s;
  }

  form button:hover {
    background-color: #009E9C;
  }

body {
  background-color: rgba(0,0,0,1);
}

button {
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
}

.main-container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  width: 380px; height: 550px;
  overflow: hidden;
}


.main-container nav {
  padding: 60px 15px 80px 15px;
  box-sizing: border-box;
}

.main-container nav .tab {
  padding: 0 0 5px 0;  margin-right: 30px;
  color: rgba(255, 255, 255, .5);
  font-size:15pt;
  font-weight: 200;
  background-color: transparent;
  border: none;
  transition: color 0.3s;
}

.main-container nav .tab.activated {
  border-bottom: 2px solid #00ABA9;
  color: white;
}

.main-container nav .tab:hover {
  color: rgba(255, 255, 255, 1);
}

.main-container .form-container {
  position: relative;
  left: 0;
}

.main-container .form-container .signin-form {
  position: absolute;
  left: 0;
  width: 100%;
  display: inline-block;
}

.main-container .form-container .signup-form {
  position: absolute;
  left: 400px;
  width: 100%;
  display: inline-block;
}

.divider {
  border-top: 1px solid rgba(255, 255, 255, .1);
  margin: 70px 0 40px 0;
}

.forgot {
  text-align: center;
  font-size: 10pt;
  font-weight: 200;
}

.forgot a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all 0.3s;
}

.forgot a:hover {
  color: rgba(255, 255, 255, 1);
}

#signin {
  width: 100%;
  height: 100%;
  background-image: url('../img/bg-codebakery2.jpg');
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

