button {
  border-radius: 0px !important;
  font-weight: 100 !important;
}

input {
  border-radius: 0px !important;
}

textarea {
  border-radius: 0px !important;
}

.form label {
  margin-bottom:5px;
  margin-top:20px;
  display:block;
  font-weight: 400;
  font-size: 13pt;
  color:#666;
}

.form label:first-child {
  margin-top:0;
}
