@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  outline: none;
  box-sizing: border-box;
  font-family:'Spoqa Han Sans','Sans-serif'
}

html, body {
  margin: 0;
}

h1 {
  margin: 0;
}

body {
  background-color: #FAFAFC;
}

header {
  background-color: #23293A;
  padding: 30px 0;
  margin-bottom: 50px;
}

  header nav {
    max-width: 1032px;
    margin: 0 auto 50px auto;
  }

    header nav img {
      float: left;
      margin-right: 20px;
    }

    header nav ul {
      display: inline-block;
      height: 20px;
      margin: 0;
      padding: 0;
    }

      header nav ul li {
        font-size: 13px;
        color: #656975;
        display: inline-block;
        float: left;
        padding-top: 3px;
        margin-left: 20px;
      }

      header nav ul li.activated {
        color: #D3D4D8;
      }

  header .header-container {
    max-width: 1032px;
    margin: 0 auto;
  }

    header .header-container h1 {
      margin: 0;
      font-size: 30pt;
      font-weight: 100;
      color: white;
    }

      header .header-container h1 b {
        font-weight: 500;
      }

main {
  max-width: 1052px;
  margin: 0 auto;
}

  main nav {

  }

    main nav ul {
      display: inline-block;
      list-style: none;
      padding-left: 10px;
    }

      main nav ul li {
        display: inline-block;
        float: left;
        margin-right: 20px;
        padding: 0 3px 10px 3px;
        color: #333333;
        font-weight: 500;
      }

      main nav ul li:last-child {
        margin: 0;
      }

      main nav ul li.activated {
        border-bottom: 2px solid #FF0069;
        font-weight: 700;
      }

  main .project-container .card {
    background-image: url('https://placehold.it/280x250?text=no%20image');
    position: relative;
    display: inline-block;
    width: 240px; height: 225px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;
  }

  main .project-container .card:hover {
    transform:scale(1.02);
  }

  main .project-container .card:active {
    transform:scale(0.98);
  }

  main .project-container .create-project {
    background-color: #DDDDDD;
    background-image: none;
  }

    main .project-container .create-project .text {
      margin-top: 70px;
      color: #999999;
      font-size: 12pt;
      font-weight: 100;
      text-align: center;
    }

      main .project-container .create-project .text h3 {
        font-size: 13pt;
        font-weight: 100;
        margin: 0;
      }

  main .project-container .card .gradient {
    position: absolute;
    z-index: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  }

  main .project-container .card .info {
    position: absolute;
    z-index: 1;
    padding: 10px 20px;
    width: 100%;
    bottom: 0px;
    text-align: center;
    color: white;
  }

    main .project-container .card .info h3 {
      margin: 0 0 5px 0;
      font-size: 12pt;
      font-weight: 300;
    }

    main .project-container .card .info p {
      font-size: 9pt;
      font-weight: 200;
      color: #DDDDDD;
    }
